[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
attrs = {index = "pypi",version = "==21.4.0"}
fastapi = {index = "pypi",version = "==0.75.2"}
uvicorn = {extras = ["standard"], version = "==0.17.6", index = "pypi"}
sqlalchemy = {index = "pypi",version = "==1.4.35"}

[dev-packages]
pytest = {index = "pypi",version = "==7.0.1"}
ipdb = {index = "pypi",version = "==0.13.9"}
black = {index = "pypi",version = "==22.1.0"}

[requires]
python_version = "3.8"
